*{
  margin: 0;
  padding: 0;
}
$pixels: 16px;

@function calc-px($px) {
  @return $px/$pixels+rem;
}

body{
  background: #141414;
  overflow-x: hidden !important;
  width: 100vw !important;
}

html{
  font-family: Comfortaa;
}

.logo{
  width: 70%;
  margin-top: 0;
  animation: logo 3s infinite ease-in-out;

}

.title-head{
  display: flex;
  flex-direction: row;
  align-items: center;

  position: relative;
  p{
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 21px;
    color: #FFFFFF;
    width: 85%;
    margin-left: 1rem;
    leftt: -120%;
    animation: titleHead 2s 0s ease-in-out forwards;
    position: absolute;
    text-align: justify;

    span{
      text-shadow: 0px 0px 10px #FFF500;
    }
  }

  &-left{
    background: rgba(255, 255, 255, 0.59);
    border-radius: 0px 3px 3px 0px;
    width: 1.5rem;
    height: 7rem;
  }
}

.start{
  margin: 2rem 0;
}

header{
  padding: 1rem;
  padding-top: 0;
  width: calc(100vw - 2rem);
  display: flex;
  justify-content: center;
  height: 20rem;
}

.top{
  display: flex;
  flex-direction: column;


  width: 100vw;

  &-text-block{
    width: 100%;
    display: flex;
    justify-content: center;
    .top-text{
      opacity: 0;
      animation: topText 3s linear;
      margin: 0 auto;
      margin-top: 2rem;
      width: 90%;
      position: absolute;
    }
  }





  .hookah{
    opacity: 0;
    animation: hookah 1s 3s linear forwards;
    position: relative;
    width: 90%;
    margin: 0 auto;
    overflow-y: hidden;


    &-container{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      overflow: hidden;
      transition: 0.3s;

    }

  }



}

.content{
  width: 80%;
  margin: 0 auto;
}

.hookah-description-text{
  display: none;
  flex-direction: column;

  span{
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0px 0px 6px #00FFF0;

  }
}

.hookah-top{
  background: url("../assets/hookah/top_.svg") no-repeat;
  background-size: contain;
  width: 2rem;
  height: 3.8rem;
  margin-bottom: 0.2rem;
  overflow: hidden;


}

.hookah-top-active{
  background: url("../assets/hookah/top_fon.svg") no-repeat;
  background-size: contain;
  width: 2rem;
  height: 3.8rem;
  overflow: hidden;
}

.hookah-mid{
  background: url("../assets/hookah/mid_.svg") no-repeat;
  background-size: contain;
  width: 5rem;
  height: 7rem;
  margin-bottom: 0.4rem;
  overflow: hidden;
}

.hookah-mid-active{
  background: url("../assets/hookah/mid_fon.svg") no-repeat;
  background-size: contain;
  width: 5rem;
  height: 7rem;
  margin-bottom: 0.4rem;
  overflow: hidden;
}

.hookah-colba{
  background: url("../assets/hookah/colba_.svg") no-repeat;
  background-size: contain;
  width: 5.1rem;
  height: 6.56rem;

  overflow: hidden;
}

.hookah-colba-active {
  background: url("../assets/hookah/colba_fon.svg") no-repeat;
  background-size: contain;
  width: 5.1rem;
  height: 6.56rem;
  overflow: hidden;
}

.hookah-description{
  color: #FFFFFF;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  bottom: 0;
  opacity: 0;
  z-index: -1;

  &-line{
    width: 4rem;
    border-top: 2px dashed #FFFFFF;
  }

  &-text{
    width: 7rem;
    font-size: 0.8rem;
    border-left: 1px solid #FFFFFF;
    padding-left: 0.3rem;

  }
}

.right{
  bottom: 0;
  right: -100%;
  animation: right 0s forwards;
}

.left{
  left: -100%;
  bottom: 24%;
  animation: left 0s forwards;
  .hookah-description-text{
    text-align: right;
    border-left: 0;
    border-right: 2px dashed #FFFFFF;
    padding-right: 0.3rem;
    span{
      font-weight: bold;
      color: #FFFFFF;
      text-shadow: 0px 1px 3px #2EB786;
    }
  }
  .hookah-description-line{
    order: 2;
  }
}

.top-des{
  top: -60%;
  right: -100%;
  animation: top 0s forwards;
  .hookah-description-line{
    display: none;
  }
  .hookah-description-text{
    width: 16rem;
    text-align: center;
    border-left: 0;
    border-right: 0;
    padding-bottom: 0.3rem;
    border-bottom: 2px solid #FFFFFF;
    span{
      font-weight: bold;
      color: #FFFFFF;
    }
  }
}

.h-a-1{
  margin-right: 10rem;

}

.h-a-2{
  margin-left: 10rem;

}

.h-a-3{
  margin-top: 13rem;

}


.help-text{
  width: 90%;
  color: #3F3F3F;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 1rem;
  animation: helptext 1s 3s forwards;
  opacity: 0;
}


.test{
  height: 20rem;
}

.hookahOpacity{
  animation: hookahOpacity 1s ease-in-out forwards;
}

.runner-string{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: relative;
  width: 100%;
  overflow-x: hidden;
  height: 3rem;
  margin: 3rem 0;
  margin-bottom: 1rem;
  &-move{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: hidden;
    width: 50rem;
    position: absolute;
    right: -220%;
    animation: runner 10s linear infinite;
    p{
      color: #FFFFFF;
      text-wrap: none;
      width: 30rem;
      margin-left: 1rem;

    }
  }


}


.whys{
  width: 90%;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  margin-bottom: 2rem;
  justify-content: space-between;

  &-id{
    background: #3F3F3F;
    width: 4rem;
    height: 3rem;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  &-text{

    color: #FFFFFF;
    width: 100%;
    display: flex;
    align-items: center;
  }
  &-img{
    width: 40%;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}


.vsem-block{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
}
.vsem{
  width: 90%;

}

.cut-line{
  width: 40%;
  background: #FFFFFF;
  height: 0.1rem;
  border-radius: 0.3rem;
  margin: 2rem auto;
}

.whys-category{
  color: #FFFFFF;
  font-weight: bold;
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
  text-transform: uppercase;
  text-shadow: 0px 0px 6px #00FFF0;
}

.whys-text-block{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 55%;
}






.order-curs{
  width: 80%;
  background: #FFFFFF;
  border: 2px solid #FFFFFF;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #141414;
  text-decoration: none;
  padding: 0.5rem;
  margin: 0 auto;
  margin-top: 2rem;
  font-size: 1.3rem;
  font-weight: bold;
  box-shadow: 0px 4px 21px rgba(0, 255, 240, 0.58);
}

.about-me{
  padding-top: 1rem;
  margin: 4rem 0;
  margin-top: 6rem;
  width: 100%;
  display: flex;
  position: relative;
  height: 50rem;
  background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
  background-size: cover;
  color: transparent;
  overflow: hidden;


  .back{
    &:first-child{
      z-index: 0;
      position: absolute;
      top: -20%;
      transform: rotate(180deg);
      width: 100%;
      left: 0;
    }
    &:last-child{
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }





  .about-me__about{
    margin-top: 7rem;
    position: absolute;
    top: 2rem;
    z-index: 700;
    width: 90%;
    display: flex;
    flex-direction: column;

    &-item{
      color: #FFF;
      margin-bottom: 1rem;
      span{
        color: #00A3FF;
      }
      .span-lab{
        color: #FFFFFF;
        text-shadow: 0px 0px 4px #FFF500;
      }
      &:nth-child(1){
        width: 60%;
      }
      &:nth-child(2){
        width: 60%;
      }
      &:nth-child(6){
        width: 75%;
      }
      &:nth-child(7){
        width: 60%;
      }
      &:nth-child(8){
        width: 60%;
      }


    }

  }
  #nastya{
    position: absolute;
    bottom: -2rem;
    right: 0;
    width: 15rem;
  }

  &__top{

    &-ring{
      background: #FFFFFF;
      border-radius: 10em;


      width: 1rem;
      height: 1rem;
      margin-bottom: 0.5rem;
      z-index: 4;

      &:first-child{
        position: absolute;
        background: #00A3FF;
        z-index: 100;
        box-shadow: 0px 0px 17px #FFF500;
      }
      &:nth-child(2){
        position: absolute;
        z-index: 100;
        top: 2.5rem;
      }
      &:nth-child(3){
        position: absolute;
        z-index: 100;
        top: 4rem;
      }
      &:nth-child(4){
        position: absolute;
        z-index: 100;
        top: 5.5rem;
      }
    }
  }
  .creator{
    color: #FFFFFF;
    position: absolute;
    top: 0.5rem;
    left: 2.2rem;
    font-size: calc-px(34px);
    z-index: 200;
  }
  &__name{
    position: absolute;
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 7rem;
    p{
      color: #FFFFFF;
      text-shadow: 0px 0px 13px #2EB786;
      font-size: calc-px(34px);
      position: absolute;
      top: -3rem;
      left: 2rem;

      &:nth-child(2){
        transform: rotate(90deg);
        font-size: calc-px(74px);
        top: -4.7rem;
        left: 16rem;
      }
      &:nth-child(3){
        transform: rotate(90deg);
        font-size: calc-px(34px);
        top: 4rem;
        left: 12rem;
      }
    }
  }



}

#curs-cif{
  text-align: center;
  color: #FFFFFF;
  text-shadow: 0px 0px 13px #2EB786;
}



.modules{
  background: #FFFFFF;
  display: flex;
  position: relative;
  padding-top: 7rem;
  &-bottom{
    position: absolute;
    bottom: 0;
    height: 7rem;
    background: #141414;
    width: 100%;
    z-index: 0;
  }
  img{
    width: 100%;
    position: absolute;
    top: 0;
  }
  &-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    &__item{
      width: calc(100% - 1rem);
      box-shadow: -1px 1px 12px rgba(0, 0, 0, 0.25);
      border-radius: 0px 17px 17px 17px;
      padding: calc-px(10px);
      margin-bottom: 4rem;
      position: relative;
      background: #FFFFFF;
      z-index: 2;
      &-title{
        background: #FFFFFF;
        box-shadow: 8px -8px 11px rgba(0, 0, 0, 0.1);
        border-radius: 16px 16px 0px 0px;
        position: absolute;
        top: -2rem;
        left: 0;
        padding: calc-px(7px) calc-px(22px);
        font-weight: bold;
        text-shadow: 1px -1px 1px rgba(0, 163, 255, 0.5);
      }
      &-item{
        position: relative;
        display: flex;
        flex-direction: row;
        .count{
          background: #141414;
          border-radius: 10em;
          width: calc(5rem - 1.6rem);
          height: 1.5rem;
          display: flex;
          flex-direction: row;

          color: #FFFFFF;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          position: absolute;
          padding: 0 1rem;
          top: 0;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          font-size: calc-px(12px);
          .plus-info{
            height: 1.5rem;
            width: 1.5rem;
            background: #00A3FF;
            border-radius: 10em;
            position: absolute;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: 0.2s;

            img{
              width: 70%;
              position: unset;
              transition: 0.2s;
            }

            }
          }
          .line{
            width: 1rem;
            height: 0.1rem;
            background: #141414;
            position: absolute;
            right: -0.5rem;
            border-radius: 1em;

          }
        }
      .description-block{
        .hide-description{
          margin-bottom: 1rem;
          color: rgba(0, 0, 0, 0.4);
          height: 0;
          opacity: 0;
          transition: 0.2s;


        }
      }
        .description{
          padding: 0.2rem 0 1rem 6.5rem;
          font-weight: bold;
          span{
            color: #00A3FF;
          }
        }
      }
    }
  }




.d-main{
  background: #00A3FF !important;
  .line{
    background: #00A3FF !important;
  }
  .plus-info{
    background: #141414 !important;
  }
}

.back{

  height: 30rem;
  h2{

    color: #FFFFFF;
    text-align: center;
    margin-top: 1rem;
  }
  &-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img{
      width: 2rem !important;
    }
  }
  li{
    display: flex;
  }
  img{
    width: 18rem;
    margin: auto;
  }
}

.tarif{
  background: #FFFFFF;
  padding-bottom: 5rem;
  position: relative;
  &-hookah{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    flex-direction: column;
    img{
      filter: brightness(0.7);
      margin-bottom: 0.2rem;
    }
  }
  .tarif-link{
    width: 100%;
    border-radius: 10em;
    border: 2px solid #FFFFFF;
    display: flex;
    height: calc-px(37px);
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #141414;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0px 0px 10px #00A3FF;
    background: #c6e2ff;
  }
  &-top{
    background: #141414;
    border-radius: 0px 0px 19px 19px;
    width: 7rem;
    margin: 0 auto;
    text-align: center;
    color: #FFFFFF;
    font-size: 1.2rem;
    height: 2rem;

    p{

      color: #c6e2ff;
      animation: neon .08s ease-in-out infinite;
    }
  }
  &-container{
    &__item{
      background: #F0F0F0;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 20px;
      width: 100%;
      margin: 2rem 0;
      &-top{
        background: #141414;
        width: calc(100% - 0.8rem);
        padding: 0.4rem;
        border-radius: 10em;
        p{
          color: #FFFFFF;
          text-transform: uppercase;
          text-align: center;
        }
      }
      &-info{
        padding: 1rem;
        display: flex;
        flex-direction: column;

        &__item{
          display: flex;
          flex-direction: row;
          align-items: center;


          margin-bottom: 1rem;
          &:last-child{
            justify-content: space-between;
          }
          img{
            width: 1.5rem;

          }

          p{
            margin-left: 1rem;
            width: 80%;

            span{
              font-weight: bold;
              text-decoration: underline;
            }
          }
        }
        .active-modules{
          opacity: 0.3;
          margin-left: 2.5rem;
          margin-bottom: 1rem;
        }
      }

      .price-block{
        display: flex;
        align-items: center;
        justify-content: center;

        p{
          margin-top: 4rem;
          font-size: calc-px(30px);
          font-weight: bold;
        }
      }
    }
  }
}

.questions{
  padding: 2rem 0;
  &-plus{
    width: calc-px(38px);
    height: calc-px(38px);
    border-radius: 10em;
    background: #141414;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
  }
  &-top{
    color: #c6e2ff;
    font-size: calc-px(25px);
    text-align: center;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 1rem;

  }
  &-container{
    padding: 0 1rem;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    &__item{
      border-bottom: 1px solid #F0F0F0;
      display: flex;
      flex-direction: column;
      padding-top: 1rem;

      &-top{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 1rem;
        p{
          width: 80%;
          font-weight: bold;
        }
      }
      &-hidden{
        padding: 1rem 0;
        opacity: 0.7;
        display: none;
      }

    }
  }
}

.contacts{
  background: url("contacts-dim.png") #141414;
  background-size: cover;
  width: 100%;
  height: 20rem;
  h2{
    color: #c6e2ff;
    text-align: center;
    margin-top: 4rem;
  }
  a{
    text-decoration: none;
  }
  &-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
    img{
      margin-bottom: 0.5rem;
    }
    p{

      color: #FFFFFF;

    }
  }
}






@keyframes neon {
  from {
    text-shadow:
            0 0 6px rgba(202,228,225,0.92),
            0 0 30px rgba(202,228,225,0.34),
            0 0 12px rgba(30,132,242,0.52),
            0 0 21px rgba(30,132,242,0.92),
            0 0 34px rgba(30,132,242,0.78),
            0 0 54px rgba(30,132,242,0.92);
  }
  to {
    text-shadow:
            0 0 6px rgba(202,228,225,0.98),
            0 0 30px rgba(202,228,225,0.42),
            0 0 12px rgba(30,132,242,0.58),
            0 0 22px rgba(30,132,242,0.84),
            0 0 38px rgba(30,132,242,0.88),
            0 0 60px rgba(30,132,242,1);
  }
}

@keyframes left {

  0%{
    left: -100%;
    opacity: 0;
  }

  100%{
    left: 0%;
    opacity: 1;
  }

}

@keyframes right {

  0%{
    right: -100%;
    opacity: 0;
  }

  100%{
    right: 0%;
    opacity: 1;
  }

}

@keyframes top {
  0%{
    right: -100%;
    opacity: 0;
  }
  100%{
    right: auto;
    left: auto;
    opacity: 1;
  }
}


@keyframes topText {
  0%{
    opacity: 0;
  }

  50%{
    opacity: 1;
  }

  100%{
    opacity: 0;
  }

}

@keyframes helptext {
  0%{
    opacity: 0;
  }

  100%{
    opacity: 1;
  }
}

@keyframes hookah {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}


@keyframes logo {
  0%{
    margin-top: -1rem;
  }
  50%{
    margin-top: -2rem;
  }
  100%{
    margin-top: -1rem;
  }
}

@keyframes titleHead {

  0%{
    left: -120%;
  }

  100%{
    left: 5%;
  }

}

@keyframes hookahOpacity {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }

}

@keyframes runner {
  0%{
    right: -250%;
  }
  100%{
    right: 100%;
  }
}